<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= locals.title %></title>
    <meta name="description" content="<%= locals.description %>" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <!-- Search Bar -->
    <%- include("../partials/search.ejs") %>

    <div class="container">
      <!-- Header / Navbar -->
      <%- include("../partials/header.ejs") %>

      <!-- Main Content -->
      <main class="main"><%- body %></main>

      <!-- Footer -->
      <%- include("../partials/footer.ejs") %>
    </div>

    <script type="text/javascript" defer src="/js/script.js"></script>
  </body>
</html>
